@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background:#000;
  margin:0;
  box-sizing:border-box
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 55px
}

h1,
h2 {
  color: #fff;
  font-family: Orbitron
}

h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 46.65px
}

h3 {
  font-size: 32px;
  font-weight: 300;
  font-family: Orbitron;
  line-height: 37px
}

h3,
p {
  color: #fff
}

p {
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto;
  line-height: 32px;
  margin-bottom: 32px;
  overflow-wrap: break-word
}

a {
  color: #fff
}

a:hover {
  color: #2f5f74
}

img {
  max-width: 100%
}

blockquote {
  text-align: left;
  border-left: 5px solid #fff;
  padding-left: 16px;
  margin: 0
}

blockquote>:first-child {
  margin-top: 0
}

blockquote>* {
  margin-top: 16px;
  margin-bottom: 16px
}

blockquote p {
  font-size: 24px;
  line-height: 27px
}

blockquote cite,
blockquote p {
  font-family: Space Mono
}

.navigation {
  margin: 0;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  background: #000;
  list-style: none
}

.navigation li {
  height: 100%;
  float: left;
  margin: 0 20px
}

.navigation li:first-child {
  display: none
}

.navigation li a {
  display: inline-block;
  text-decoration: none;
  font-family: Orbitron;
  vertical-align: middle;
  line-height: 58px
}

.navigation li:has(.active) {
  border-bottom: 2px solid #fff
}

ul {
  text-align: left;
  font-family: Space Mono;
  font-size: 20px
}

.hunker-downs-logo {
  padding: 5px;
  fill: red;
  height: 60px;
  width: 60px
}

.hunker-downs-logo.big {
  padding: 0;
  fill: white;
  height: 150px;
  width: 150px;
}

.subfrequencies {
  position: relative
}

.section {
  margin: 0 auto;
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
  text-align: center;
  min-height: 544px;
  padding: 20px
}

.section-inner {
  width: 100%;
  margin: 0 auto
}

.spacer {
  height: 128px
}

.button {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  font-family: Roboto;
  border-radius: 160px;
  border: 2px solid #fff;
  padding: 14px 48px;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  margin-bottom: 8px
}

.button:hover {
  color: #2f5f74;
  border-color: #2f5f74
}

.button-container {
  justify-content: center;
  grid-column-gap: .5em;
  -webkit-column-gap: .5em;
  column-gap: .5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.has-text-align-left {
  text-align: left
}

.has-text-align-center {
  max-width: 750px;
  margin: 32px auto
}

.has-small-font-size {
  font-size: 13px
}

.columns {
  display: flex;
  box-sizing: border-box;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto
}

.columns:not(.is-not-stacked-on-mobile)>.column:nth-child(n+2) {
  margin-left: 40px
}

.column>:first-child {
  margin-top: 0
}

.wide {
  width: 1006px;
  max-width: 100%
}

.card-section {
  max-width: min-content;
}

.margin-bottom-half {
  margin-bottom: 16px
}

.margin-top-half {
  margin-top: 16px
}

.flex-base-33 {
  flex-basis: 33.33%
}

.flex-base-66 {
  flex-basis: 66.66%
}

.flex-base-50 {
  flex-basis: 50%
}

.page {
  margin-top: 60px
}

.cover-background {
  height: 100%;
  width: 100%;
  object-fit: cover
}

.cover {
  text-align: center;
  height: 100%;
  width: 100%
}

.cover>div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.welcome {
  font-size: 20px;
  font-family: Orbitron;
  font-style: italic
}

.mono {
  font-family: Space Mono
}

.list-container {
  margin: 0 auto;
  width: 400px
}

.bgvideo-container {
  background-color: #000;
  z-index: -1;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%
}

.bgvideo-cover {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, .33), rgba(0, 0, 0, .33))
}

.bgvideo,
.bgvideo-cover {
  height: 100%;
  position: absolute
}

.bgvideo {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 56.25vw;
  width: 177.77777778vh;
  min-width: 100%;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  z-index: -1
}

nav {
  position: fixed;
  z-index: 1
}

.navigation .hunker-downs-logo {
  display: inline-block
}

.navigation .home-button {
  display: none
}

@media (max-width: 1350px){
  .card-section {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:768px) {
  .page {
    margin-top: 40px
  }

  .columns {
    flex-wrap: wrap
  }

  .column {
    flex-basis: 100%;
    flex-grow: 1;
    margin-bottom: 32px
  }

  .columns:not(.is-not-stacked-on-mobile)>.column:nth-child(n+2) {
    margin-left: 0
  }

  .spacer {
    height: 16px
  }

  .navigation {
    height: auto;
    min-height: 40px
  }

  .navigation li {
    width: 100%
  }

  .navigation li:not(:first-child) {
    display: none;
    float: none;
    background: #000
  }

  .navigation li.active,
  .navigation li:first-child {
    display: block
  }

  .navigation .hunker-downs-logo {
    display: none
  }

  .navigation .home-button {
    display: inline-block
  }

  .burger-menu {
    margin-top: 5px;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer
  }

  .navigation li:has(.active) {
    border-bottom: none;
  }
}

* {
  box-sizing: border-box
}